#contact-wrapper {
  color: rgba(63, 40, 3, 0.7);
}
#contact-wrapper .contact-row {
  margin-top: 30px;
}
#contact-wrapper .title {
  border-bottom: 1px solid #efefef;
  padding-bottom: 24px;
  margin-bottom: 41px;
}
#contact-wrapper .title h3 {
  text-transform: initial;
}
#contact-wrapper h3 {
  font-size: 38px;
  margin-bottom: 9px;
  padding-right: 20px;
  line-height: 50px;
}
#contact-wrapper select {
  height: 40px;
}
#contact-wrapper input {
  height: 40px;
}

#contact-info .section {
  margin-bottom: 10px;
}
#contact-info .phone {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 23px;
}
#contact-info .info-address {
  margin-bottom: 39px;
}
#contact-info .info-address p {
  margin-bottom: 3px;
}
#contact-info .email {
  border: 1px solid #EBEBEB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  display: inline-block;
  padding: 16px 31px 12px;
  font-size: 24px;
  font-weight: 500;
}

#contact-map .contact-box {
  width: 100%;
}