h1, h2, h3, h4, h5, h6 {
  color: #B8D021;
}

a:hover {
  color: #B8D021;
}

.btn.btn-active, .btn:hover {
  border-color: #B8D021;
  background-color: #B8D021;
}

.breadcrumb-wrapper .breadcrumb li a:hover {
  color: #B8D021;
}

.popup-newsletter .block_newsletter .content button {
  background-color: #B8D021;
  border-color: #B8D021;
}

.gdz-megamenu .nav > .menu-item .mega-nav li > a:hover {
  color: #B8D021;
}

.fs-pager-wrapper a span,
.fs-pager-wrapper a.active span {
  background-color: #B8D021;
  border-color: #B8D021;
}

.fs-pager-wrapper a.active span::before {
  border-color: #B8D021;
}

.gdz-slider-wrapper .nav-control > a {
  background-color: #B8D021;
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #B8D021;
}

.owl-dots button span,
.owl-dots button.active span {
  background-color: #B8D021;
  border-color: #B8D021;
}

.owl-dots button.active span::before {
  border-color: #B8D021;
}

.header-3 .header-bottom {
  background-color: #B8D021;
}

.header-5 #header-top .header-right .btn-group > a:hover path {
  fill: #B8D021;
}

#hor-menu .nav > li > a span::after {
  background-color: #B8D021;
}

.gdz-megamenu .nav > .menu-item .mega-nav li.group > a {
  color: #B8D021;
}

.price.new {
  color: #B8D021;
}

.cart-prices-line .value {
  color: #B8D021;
}

#blockcart-modal .value {
  color: #B8D021;
}

#blockcart-modal .btn-default {
  border-color: #B8D021;
  color: #B8D021;
}

.productbox-2 .product-buttons .ajax-add-to-cart {
  color: #B8D021;
  border-color: #B8D021;
}

.productbox-3 .product-buttons .btn-icon path {
  fill: #B8D021;
}

.productbox-4 .block-addtocart .product-buttons .cart-button {
  background-color: #B8D021;
}

.productbox-4 .block-addtocart .product-buttons .btn-icon.quick-view:hover {
  background-color: #B8D021;
}
.productbox-4 .block-addtocart .product-buttons .btn-icon.quick-view path {
  fill: #B8D021;
}

.product-miniature::before {
  border-color: #B8D021;
}

.addon-tab .nav-tabs .nav-link.active, .addon-tab .nav-tabs .nav-link:hover {
  color: #B8D021;
}

.pb-testimonial .quote svg {
  fill: #B8D021;
}

.pb-testimonial .pb-testimonial-comment svg path {
  fill: #B8D021;
}

.pb-testimonial.with-thumbnails .pb-testimonial-carousel .owl-nav button:hover path {
  fill: #B8D021;
}

/* Product list */
#search_filters .ui-slider .ui-slider-handle {
  border-color: #B8D021;
}

#search_filters .filter-block .icon-close:hover svg path {
  fill: #B8D021;
}

#search_filters .facet.Weight .facet-label > a:hover {
  border-color: #B8D021;
}

#search_filters .facet.Weight .facet-label.active > a {
  border-color: #B8D021;
  color: #B8D021;
}

.products-sort-order .dropdown-menu a:hover, .products-sort-order .dropdown-menu a.current {
  color: #B8D021;
}

.switch-view.active rect {
  fill: #B8D021;
}

.products-list .product-miniature .product-info .product-buttons .btn-icon:hover path {
  fill: #B8D021;
  fill-opacity: 1;
}
.products-list .product-miniature .product-info .product-buttons .btn-icon:hover span {
  color: #B8D021;
}

.pagination li a:hover {
  color: #B8D021;
}
.pagination li a:hover path {
  fill: #B8D021;
  fill-opacity: 1;
}
.pagination li.current a {
  color: #B8D021;
}

/* details */
.available-quantity {
  color: #B8D021;
}

.bootstrap-touchspin .input-group-btn-vertical .btn-touchspin:hover i::before {
  color: #B8D021;
}

.product-actions .addToWishlist:hover {
  color: #B8D021;
}

.product-actions .addToWishlist:hover svg path {
  fill: #B8D021;
}

.product-images .thumb-container > .thumb.selected,
.product-images .thumb-container > .thumb:hover {
  border-color: #B8D021;
}

.images-container .slick-arrow:hover {
  background-color: #B8D021;
}

#more_info_block li a.active, #more_info_block li a:hover {
  color: #B8D021;
}

.product-variants-item ul li:hover .radio-label, .product-variants-item input:checked ~ .radio-label {
  color: #B8D021;
  border-color: #B8D021;
}

/* footer */
.footer #footer-main .block-content li a:hover {
  color: #B8D021;
}

.footer-4 .hotline {
  color: #B8D021;
}

.footer-5 #footer-main .block-content li a:hover {
  color: #B8D021;
}

.bg-dark {
  color: rgba(255, 255, 255, 0.7);
  background-color: #18191A !important;
}
.bg-dark a {
  color: #fff;
}
.bg-dark a:hover {
  color: #B8D021;
}
.bg-dark a.btn {
  color: #3F2803;
}
.bg-dark a.btn:hover {
  color: #fff;
}
.bg-dark a.btn-active {
  color: #fff;
}
.bg-dark #header-top .header-right .btn-group.user-info > a:hover {
  border-color: #B8D021;
}
.bg-dark #header-top .header-right .btn-group > a:hover path {
  fill: #B8D021;
}
.bg-dark #header-top .header-right .btn-group > a path {
  fill: #fff;
}
.bg-dark .header-7 .hotline {
  border-color: #fff;
  color: #fff;
}
.bg-dark .header-7 .hotline svg path {
  fill: #fff;
}
.bg-dark .sticky #hor-menu .nav > li > a {
  color: #3F2803;
}
.bg-dark #hor-menu .nav > li > a {
  color: #fff;
}
.bg-dark .gdz-slide-content .btn:hover {
  color: #fff;
}
.bg-dark .product-miniature {
  background-color: #212126;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: 1px solid #212126;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.bg-dark .product-miniature .category-name a {
  color: rgba(255, 255, 255, 0.7);
}
.bg-dark .product-miniature:hover {
  border-color: #B8D021;
}
.bg-dark .product-miniature .price.new {
  color: #fff;
}
.bg-dark .productbox-2 .product-buttons .ajax-add-to-cart {
  background-color: transparent;
}
.bg-dark .productbox-2 .product-buttons .ajax-add-to-cart:hover {
  background-color: #B8D021;
}
.bg-dark .addon-tab .nav-tabs .nav-link {
  color: rgba(255, 255, 255, 0.5);
  background-color: #2f3032;
  border-color: #2f3032;
}
.bg-dark .addon-tab .nav-tabs .nav-link.active, .bg-dark .addon-tab .nav-tabs .nav-link:hover {
  background-color: #B8D021;
  border-color: #B8D021;
  color: #fff;
}
.bg-dark .owl-dots button.active span::before {
  background-color: transparent;
}
.bg-dark #footer {
  background-color: #18191A;
}
.bg-dark .footer-5 .line {
  background-color: rgba(255, 255, 255, 0.15);
}
.bg-dark .footer-5 #footer-main .block-content li a {
  color: rgba(255, 255, 255, 0.8);
}
.bg-dark .footer-5 .instagram .row > div a {
  border: none;
}

.page-index #header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}
.page-index #header .header-6 #header-top.sticky .header-right .btn-group.user-info > a {
  color: #3F2803;
}
.page-index #header .header-6 #header-top.sticky .header-right .btn-group.user-info > a:hover {
  color: #B8D021;
  border-color: #B8D021;
}
.page-index #header .header-6 #header-top.sticky .header-right .btn-group > a {
  border-color: inherit;
}
.page-index #header .header-6 #header-top.sticky .header-right .btn-group > a:hover path {
  fill: #B8D021;
}
.page-index #header .header-6 #header-top.sticky .header-right .btn-group > a path {
  fill: #3F2803;
}

.gdz-slide-content .btn {
  padding: 0 31px;
}

.fs-pager-wrapper {
  top: calc(50% - 41px);
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 5.7vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.fs-pager-wrapper a {
  height: 20px;
}
.fs-pager-wrapper a.active {
  margin: 4px 0;
}
.fs-pager-wrapper a.active span::before {
  background-color: transparent;
}
.fs-pager-wrapper a span {
  background-color: #fff;
}

.product-miniature .price.new {
  font-weight: 600;
}

.addon-tab .nav.nav-tabs {
  margin-bottom: 60px;
}
.addon-tab .nav.nav-tabs .nav-item {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.banner {
  position: relative;
  z-index: 999;
}

.owl-dots button span {
  background-color: #fff;
}

.banner-fullwidth .container-fluid {
  padding-left: 126px;
  padding-right: 126px;
}
.banner-fullwidth h5 {
  font-weight: 600;
  margin-bottom: -4px;
}
.banner-fullwidth h5 span {
  font-size: 44px;
  font-weight: 300;
  margin-left: -11px;
}
.banner-fullwidth h6 {
  font-weight: 600;
  letter-spacing: -0.01em;
  margin-bottom: 5px;
}

.service-box .layout-column:nth-child(2) .pb-service-box {
  background-color: #212126;
}
.service-box .pb-service-box {
  border: 3px solid #212126;
  border-radius: 20px;
  padding: 40px 20px 20px;
}
.service-box .pb-service-box .pb-service-icon {
  margin-bottom: 49px;
}
.service-box .pb-service-box .pb-service-icon img {
  width: auto !important;
}
.service-box .pb-service-title {
  font-size: 27px;
  color: #fff;
  margin-bottom: 17px;
}
.service-box .pb-service-description {
  padding: 0 20px;
}
.service-box .pb-service-description p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}

.testimonial {
  position: relative;
  z-index: 1;
}
.testimonial::before {
  content: url("../img/food-delivery/leaf-1.png");
  position: absolute;
  right: 13px;
  top: -102px;
  z-index: 1;
}
.testimonial::after {
  content: url("../img/food-delivery/leaf-2.png");
  position: absolute;
  left: -9px;
  bottom: 249px;
  z-index: 1;
}
.testimonial .pb-image img {
  margin-left: 86px;
}

.newsletter .layout-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newsletter h5 {
  font-weight: 500;
  margin-right: 25px;
}
.newsletter .block_newsletter {
  margin-right: 82px;
}
.newsletter .block_newsletter .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.newsletter .block_newsletter input {
  margin-right: 15px;
  background: rgba(245, 245, 245, 0.15);
  border-radius: 50px;
  border: none;
  width: 443px;
  color: rgba(255, 255, 255, 0.7);
}
.newsletter .block_newsletter input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.newsletter .block_newsletter input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.newsletter .block_newsletter input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.newsletter .block_newsletter input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.newsletter .block_newsletter input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.newsletter .block_newsletter button {
  background-color: #B8D021;
  border-color: #B8D021;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
}
.newsletter #social-links {
  margin-bottom: 0;
}
.newsletter #social-links li + li {
  margin-left: 15px;
}