h1, h2, h3, h4, h5, h6 {
  color: #70C03E;
}

a:hover {
  color: #70C03E;
}

.btn.btn-active {
  border-color: #70C03E;
  background-color: #70C03E;
}

.fs-pager-wrapper a {
  border-color: #70C03E;
}

.fs-pager-wrapper a.active::before {
  background-color: #70C03E;
}

#hor-menu .nav > li > a span::after {
  background-color: #70C03E;
}

.gdz-megamenu .nav > .menu-item .mega-nav li.group > a {
  color: #70C03E;
}

.price.new {
  color: #70C03E;
}

.cart-prices-line .value {
  color: #70C03E;
}

#cart_block .remove-from-cart:hover path {
  fill: #70C03E;
}

.page-index #header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.fs-pager-wrapper {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.organic-banner .pb-banner-title span span {
  font-size: 50px;
  font-family: "Alako-Bold";
}