h1, h2, h3, h4, h5, h6 {
  color: #EB3335;
}

a:hover {
  color: #EB3335;
}

.btn.btn-active, .btn:hover {
  border-color: #EB3335;
  background-color: #EB3335;
}

.breadcrumb-wrapper .breadcrumb li a:hover {
  color: #EB3335;
}

.popup-newsletter .block_newsletter .content button {
  background-color: #EB3335;
  border-color: #EB3335;
}

.gdz-megamenu .nav > .menu-item .mega-nav li > a:hover {
  color: #EB3335;
}

.fs-pager-wrapper a span,
.fs-pager-wrapper a.active span {
  background-color: #EB3335;
  border-color: #EB3335;
}

.fs-pager-wrapper a.active span::before {
  border-color: #EB3335;
}

.gdz-slider-wrapper .nav-control > a {
  background-color: #EB3335;
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #EB3335;
}

.owl-dots button span,
.owl-dots button.active span {
  background-color: #EB3335;
  border-color: #EB3335;
}

.owl-dots button.active span::before {
  border-color: #EB3335;
}

.header-3 .header-bottom {
  background-color: #EB3335;
}

.header-5 #header-top .header-right .btn-group > a:hover path {
  fill: #EB3335;
}

#hor-menu .nav > li > a span::after {
  background-color: #EB3335;
}

.gdz-megamenu .nav > .menu-item .mega-nav li.group > a {
  color: #EB3335;
}

.price.new {
  color: #EB3335;
}

.cart-prices-line .value {
  color: #EB3335;
}

#blockcart-modal .value {
  color: #EB3335;
}

#blockcart-modal .btn-default {
  border-color: #EB3335;
  color: #EB3335;
}

.productbox-2 .product-buttons .ajax-add-to-cart {
  color: #EB3335;
  border-color: #EB3335;
}

.productbox-3 .product-buttons .btn-icon path {
  fill: #EB3335;
}

.productbox-4 .block-addtocart .product-buttons .cart-button {
  background-color: #EB3335;
}

.productbox-4 .block-addtocart .product-buttons .btn-icon.quick-view:hover {
  background-color: #EB3335;
}
.productbox-4 .block-addtocart .product-buttons .btn-icon.quick-view path {
  fill: #EB3335;
}

.product-miniature::before {
  border-color: #EB3335;
}

.addon-tab .nav-tabs .nav-link.active, .addon-tab .nav-tabs .nav-link:hover {
  color: #EB3335;
}

.pb-testimonial .quote svg {
  fill: #EB3335;
}

.pb-testimonial .pb-testimonial-comment svg path {
  fill: #EB3335;
}

.pb-testimonial.with-thumbnails .pb-testimonial-carousel .owl-nav button:hover path {
  fill: #EB3335;
}

/* Product list */
#search_filters .ui-slider .ui-slider-handle {
  border-color: #EB3335;
}

#search_filters .filter-block .icon-close:hover svg path {
  fill: #EB3335;
}

#search_filters .facet.Weight .facet-label > a:hover {
  border-color: #EB3335;
}

#search_filters .facet.Weight .facet-label.active > a {
  border-color: #EB3335;
  color: #EB3335;
}

.products-sort-order .dropdown-menu a:hover, .products-sort-order .dropdown-menu a.current {
  color: #EB3335;
}

.switch-view.active rect {
  fill: #EB3335;
}

.products-list .product-miniature .product-info .product-buttons .btn-icon:hover path {
  fill: #EB3335;
  fill-opacity: 1;
}
.products-list .product-miniature .product-info .product-buttons .btn-icon:hover span {
  color: #EB3335;
}

.pagination li a:hover {
  color: #EB3335;
}
.pagination li a:hover path {
  fill: #EB3335;
  fill-opacity: 1;
}
.pagination li.current a {
  color: #EB3335;
}

/* details */
.available-quantity {
  color: #EB3335;
}

.bootstrap-touchspin .input-group-btn-vertical .btn-touchspin:hover i::before {
  color: #EB3335;
}

.product-actions .addToWishlist:hover {
  color: #EB3335;
}

.product-actions .addToWishlist:hover svg path {
  fill: #EB3335;
}

.product-images .thumb-container > .thumb.selected,
.product-images .thumb-container > .thumb:hover {
  border-color: #EB3335;
}

.images-container .slick-arrow:hover {
  background-color: #EB3335;
}

#more_info_block li a.active, #more_info_block li a:hover {
  color: #EB3335;
}

.product-variants-item ul li:hover .radio-label, .product-variants-item input:checked ~ .radio-label {
  color: #EB3335;
  border-color: #EB3335;
}

/* footer */
.footer #footer-main .block-content li a:hover {
  color: #EB3335;
}

.footer-4 .hotline {
  color: #EB3335;
}

.footer-5 #footer-main .block-content li a:hover {
  color: #EB3335;
}

.bg-dark {
  color: rgba(255, 255, 255, 0.7);
  background-color: #18191A !important;
}
.bg-dark a {
  color: #fff;
}
.bg-dark a:hover {
  color: #EB3335;
}
.bg-dark a.btn {
  color: #3F2803;
}
.bg-dark a.btn:hover {
  color: #fff;
}
.bg-dark a.btn-active {
  color: #fff;
}
.bg-dark #header-top .header-right .btn-group.user-info > a:hover {
  border-color: #EB3335;
}
.bg-dark #header-top .header-right .btn-group > a:hover path {
  fill: #EB3335;
}
.bg-dark #header-top .header-right .btn-group > a path {
  fill: #fff;
}
.bg-dark .header-7 .hotline {
  border-color: #fff;
  color: #fff;
}
.bg-dark .header-7 .hotline svg path {
  fill: #fff;
}
.bg-dark .sticky #hor-menu .nav > li > a {
  color: #3F2803;
}
.bg-dark #hor-menu .nav > li > a {
  color: #fff;
}
.bg-dark .gdz-slide-content .btn:hover {
  color: #fff;
}
.bg-dark .product-miniature {
  background-color: #212126;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: 1px solid #212126;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.bg-dark .product-miniature .category-name a {
  color: rgba(255, 255, 255, 0.7);
}
.bg-dark .product-miniature:hover {
  border-color: #EB3335;
}
.bg-dark .product-miniature .price.new {
  color: #fff;
}
.bg-dark .productbox-2 .product-buttons .ajax-add-to-cart {
  background-color: transparent;
}
.bg-dark .productbox-2 .product-buttons .ajax-add-to-cart:hover {
  background-color: #EB3335;
}
.bg-dark .addon-tab .nav-tabs .nav-link {
  color: rgba(255, 255, 255, 0.5);
  background-color: #2f3032;
  border-color: #2f3032;
}
.bg-dark .addon-tab .nav-tabs .nav-link.active, .bg-dark .addon-tab .nav-tabs .nav-link:hover {
  background-color: #EB3335;
  border-color: #EB3335;
  color: #fff;
}
.bg-dark .owl-dots button.active span::before {
  background-color: transparent;
}
.bg-dark #footer {
  background-color: #18191A;
}
.bg-dark .footer-5 .line {
  background-color: rgba(255, 255, 255, 0.15);
}
.bg-dark .footer-5 #footer-main .block-content li a {
  color: rgba(255, 255, 255, 0.8);
}
.bg-dark .footer-5 .instagram .row > div a {
  border: none;
}

body {
  background-color: #0B111F;
  background: url("../img/sushi/sushi-bg.jpg") no-repeat center;
  background-size: cover;
}
body #header .header-7 .sticky .hotline {
  border-color: #3F2803;
  color: #3F2803;
}
body #header .header-7 .sticky .hotline svg path {
  fill: #3F2803;
}

.page-index #header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}
.page-index #header .header-7 .hotline {
  border-color: #fff;
  color: #fff;
}
.page-index #header .header-7 .hotline svg path {
  fill: #fff;
}
.page-index #header .header-7 #header-top.sticky .header-right .btn-group.user-info > a {
  color: #3F2803;
}
.page-index #header .header-7 #header-top.sticky .header-right .btn-group.user-info > a:hover {
  color: #EB3335;
  border-color: #EB3335;
}
.page-index #header .header-7 #header-top.sticky .header-right .btn-group > a {
  border-color: inherit;
}
.page-index #header .header-7 #header-top.sticky .header-right .btn-group > a:hover path {
  fill: #EB3335;
}
.page-index #header .header-7 #header-top.sticky .header-right .btn-group > a path {
  fill: #3F2803;
}

.gdz-slider-wrapper .nav-control {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  bottom: 50px;
  left: 16.185%;
  z-index: 999;
}
.gdz-slider-wrapper .nav-control > a {
  position: static;
  -webkit-transform: none;
          transform: none;
}
.gdz-slider-wrapper .nav-control > a.prev {
  margin-right: 47px;
}

.gdz-slide-content .btn {
  padding: 0 33px;
}

.service-box .pb-service-box {
  background-color: #171F32;
  border-radius: 20px;
  padding: 94px 20px 9px;
}
.service-box .pb-service-box .pb-service-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #fff;
  border-radius: 50%;
  width: 133px;
  height: 133px;
  position: absolute;
  top: -67px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.service-box .pb-service-box .pb-service-icon img {
  width: auto !important;
  margin: auto;
}
.service-box .pb-service-title {
  font-size: 23px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 11px;
}
.service-box .pb-service-description {
  padding: 0 20px;
}
.service-box .pb-service-description p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.03em;
}

.gdz-row.about .container > .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gdz-row.about .pb-image img {
  max-width: none;
  margin-left: -159px;
}
.gdz-row.about h5 {
  font-weight: 600;
  line-height: 55px;
}
.gdz-row.about .pb-text-content {
  padding-right: 80px;
}
.gdz-row.about .btn {
  font-weight: 600;
  letter-spacing: -0.01em;
  text-transform: initial;
  color: #fff;
  background-color: #EB3335;
  border-color: #EB3335;
  padding: 0 33px;
  height: 54px;
  line-height: 54px;
}

.productbox-2 {
  margin-bottom: 30px;
}
.productbox-2:hover::before {
  height: 100%;
}
.productbox-2:hover .product-preview img {
  -webkit-transform: none;
          transform: none;
}
.productbox-2::before {
  content: "";
  width: 100%;
  height: 65%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #171F32;
  border-radius: 15px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.productbox-2 .category-name {
  display: none;
}
.productbox-2 .product-info {
  padding-top: 13px;
}
.productbox-2 .product-link {
  margin-bottom: 4px;
}
.productbox-2 .product-buttons {
  margin-right: 0;
}
.productbox-2 .product-buttons .ajax-add-to-cart {
  border-color: #fff;
  color: #fff;
}
.productbox-2 .product-buttons .ajax-add-to-cart:hover {
  border-color: #EB3335;
}
.productbox-2 .product-reviews {
  margin-bottom: 17px;
}
.productbox-2 .price.old + .price.new {
  color: #EB3335;
}

.bg-dark .productbox-2 {
  background-color: transparent;
  border: none;
}
.bg-dark .productbox-2:hover {
  border: none;
}

.gdz-row.banner .pb-banner-subtitle {
  margin-top: 15px;
  margin-bottom: 7px;
}
.gdz-row.banner .pb-banner-subtitle span span {
  font-size: 42px;
  font-weight: 700;
  margin-left: 4px;
}
.gdz-row.banner .pb-banner-title {
  font-family: "SVN-Wellfont";
  letter-spacing: 0.02em;
  font-weight: 400;
}
.gdz-row.banner .btn {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 0px 21px;
  height: 35px;
  font-size: 16px;
}
.gdz-row.banner .btn:hover {
  background-color: #EB3335;
  border-color: #EB3335;
}
.gdz-row.banner .btn::after {
  display: none;
}

.testimonial .container > .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonial .pb-image img {
  max-width: none;
  margin-right: -159px;
}
.testimonial h5 {
  line-height: 55px;
  margin-top: 64px;
}
.testimonial .pb-testimonial .text-left .pb-testimonial-box .pb-testimonial-comment {
  color: rgba(255, 255, 255, 0.7);
  max-width: 87%;
  margin-bottom: 41px;
}
.testimonial .pb-testimonial .text-left .pb-testimonial-box .pb-testimonial-comment .quote {
  position: absolute;
  right: -78px;
  bottom: -29px;
}
.testimonial .pb-testimonial .text-left .pb-testimonial-box .pb-testimonial-comment .quote path {
  fill: #59111C;
  fill-opacity: 1;
}
.testimonial .pb-testimonial .text-left .owl-nav button {
  width: 53px;
  height: 53px;
  background-color: #EB3335;
  opacity: 0.5;
}
.testimonial .pb-testimonial .text-left .owl-nav button:hover {
  opacity: 1;
}
.testimonial .pb-testimonial .text-left .owl-nav button svg {
  width: 48px;
  height: 52px;
}
.testimonial .pb-testimonial .text-left .owl-nav button svg path {
  fill: #fff;
}
.testimonial .pb-testimonial .text-left .owl-nav button.owl-prev {
  margin-right: 26px;
}
.testimonial .pb-testimonial .text-left .owl-nav button.owl-prev svg {
  position: relative;
  left: 14px;
}
.testimonial .pb-testimonial .text-left .owl-nav button.owl-next svg {
  position: relative;
  right: 13px;
}

.newsletter .layout-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newsletter h5 {
  margin-right: 55px;
  letter-spacing: 0.02em;
}
.newsletter .block_newsletter {
  margin-right: 82px;
}
.newsletter .block_newsletter .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.newsletter .block_newsletter input {
  margin-right: 15px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
  width: 443px;
  color: rgba(255, 255, 255, 0.7);
}
.newsletter .block_newsletter input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.newsletter .block_newsletter input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.newsletter .block_newsletter input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.newsletter .block_newsletter input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.newsletter .block_newsletter input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.newsletter .block_newsletter button {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  padding: 3px 29px 0px;
}
.newsletter .block_newsletter button:hover {
  background-color: #EB3335;
  border-color: #EB3335;
}
.newsletter #social-links {
  margin-bottom: 0;
}
.newsletter #social-links li + li {
  margin-left: 15px;
}

.footer-5 h3 {
  color: #fff;
}
.footer-5 .instagram .block-content {
  margin-top: 19px;
}