.bootstrap .form-control, .bootstrap input[type=password], .bootstrap input[type=search], .bootstrap input[type=text], .bootstrap select, .bootstrap textarea {
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    background-color: #f5f8f9;
    background-image: none;
    border: 1px solid #c7d6db;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 8px;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    width: 100%;
}
.bootstrap .switch {
    height: 32px;
}
.bootstrap .prestashop-switch label {
    line-height: 35px;
}
.panel-tabs {
  width: 16.66667%;
  float: left;
}
.gdz-setting-tabs {
    list-style-type: none;
    background: #2f3339;
    color: #fff;
    padding: 0;
}
.gdz-setting-tabs a,
.gdz-setting-tabs a:hover,
.gdz-setting-tabs a:focus,
.gdz-setting-tabs a:active {
  text-decoration: none;
}
#gdz-setting-tabs li.haschild.open>.submenu,
.main-menu .open.link-leveltwo>.submenu {
    display: block;
}
.gdz-setting-tabs > .tab.active {
    background: #131313;
}

.gdz-setting-tabs > li > a {
    color:rgba(255, 255, 255, 0.7);
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    font-size:13px;
    background: #363a41;

}
.gdz-setting-tabs > li:hover > a,
.gdz-setting-tabs > li.open > a {
    color:#fff;
}
.gdz-setting-tabs > li.open > a {
    border-left: .25rem solid #25b9d7;
    background: #202226;
}
.gdz-setting-tabs > li.open > a .ps-heading-icon {
    color:#25b9d7;
}
.gdz-setting-tabs > li > a .ps-heading-icon {
    font-size:20px;
    float:left;
    margin-right:8px;
    color:#fff;
}
.gdz-setting-tabs > li > a .ps-togglable-row {
    font-size:17px;
    float:right;
}
.gdz-setting-tabs > li > ul {
    list-style-type: none;
    background: #202226;
    padding-left: 2.75rem;
    display:none;
}
.gdz-setting-tabs > li.open > ul {
    display:block;
}

.gdz-setting-tabs > li > ul a:hover,
.gdz-setting-tabs > li > ul a {
  padding: 8px 0px;
  display: block;
  color:rgba(255, 255, 255, 0.7);
  font-size:13px;
  text-decoration: none;
}
.gdz-setting-tabs > li > ul >li.active a {
  color:#fff;
  text-decoration: none;
  font-weight: 600;
}
.gdz-setting-panels {
    width: 83.3333%;
    float: left;
}
.gdz-setting-panels .tab-panel {
    display: none;
}
.gdz-setting-panels .tab-panel.active {
    display: block;
}
.image-select input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none !important;
}
.image-select .image-option {
    position: relative;
    display: inline-block;
    border: 1px solid #bdced3;
    padding: 10px 10px 10px 10px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: grayscale(0.7) opacity(0.5);
    -moz-filter: grayscale(0.7) opacity(0.5);
    filter: grayscale(0.7) opacity(0.5);
    margin: 0px 10px 10px 0px;
    text-align:center;
}
.icon-image-select .image-option {
    border-radius: 50%;
}
.icon-image-select .image-option-title {
    display:none!important;
}
.image-select input:checked + .image-option {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    border-color: #2eacce;
}
.image-select .image-option-title {
    margin: 10px -10px -10px -10px;
    padding:7px 0px;
    font-weight: bold;
    display: block;
    background:#2eacce;
    color:#fff;
}
.image-select i {
    font-size:40px;
    color:#000;
}
.gdz-setting-panels .hide-setting {
    display: none;
}
.gdz-setting-panels .show-setting {
    display: block;
}
.title-reparator {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    background: #eeeeee;
    padding: 12px 0;
}
.input-field input:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.input-field input {
    margin: 0px 0px 0px -1px;
    line-height: 38px;
    width: 100px;
    float: left;
    text-align: center;
    border: 1px solid #c7d6db;
}
.input-field .input-group-addon {
    display: inline-block;
    line-height: 28px;
    width: 30px;
}
.input-label span {
    width: 99px;
    float: left;
    text-align: center;
    text-transform: uppercase;
}
.field-group {
    margin: 0px 0px 0px -1px;
    line-height: 38px;
    float: left;
    text-align: left;
    padding-right:20px;
}
.field-group .input-group-addon {
  height:40px;
}
.panel-heading {
    font-size: 18px!important;
    height: 40px!important;
    text-transform: CAPITALIZE!important;
}
.group-fields {
    display:block;
}
.group-fields .col-lg-9 > div {
    width: 50%;
    padding: 5px;
    float:left;
}
.group-fields .control-label {
    width: 100%;
    text-align: left!important;
    margin-bottom: 5px!important;
}
.group-fields .input-group {
    padding:0px!important;
}
.switch-label input:last-of-type:checked~a {
    -webkit-box-shadow: "#1B7088" 0 -1px 0 inset!important;
    background-color: #2eacce!important;
    border: 1px solid #279cbb!important;
    box-shadow: inset 0 -1px 0 "#1B7088"!important;
}
.fixed-width-260 {
    width:260px;
}
.tab-panel .panel {
    border-radius: 0px!important;
    margin-bottom: 0px!important;
    min-height: 527px;
}
.settingForm {
    background: #363a41;
    display: inline-block;
    width: 100%;
}
.input-width-70 {
  width:70px!important;
}
.text-preview {
    font-size: 17px;
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 10px;
    max-width: 600px;
}
.onboarding-navbar.displayed {
    display:none!important;
}
.auto_height {
  height:auto!important;
}
.g-fonts-container {
    border: 1px dashed #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px;
    height: 300px;
    width: 100%;
    z-index: 30;
    overflow-y: scroll;
}
ul.g-fonts {
  padding: 0px;
}
ul.g-fonts li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 33%;
}
.font-container {
    background-color: #fff;
    background-position: 0 calc(-40px * var(--pos));
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #666;
    cursor: pointer;
    display: block;
    height: 45px;
    margin: 8px 8px 16px 8px;
    position: relative;
    /* line-height: 40px; */
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.font-container:before {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.font-container span {
    background-color: #fff;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    padding: 0 4px;
    position: absolute;
    top: -6px;
    left: 10px;
    line-height: 1;
}
.g-font-item[data-page="0"] > div {
    background-image: url(../fonts/google/thumbs/fonts01.jpeg);
}
.g-font-item[data-page="1"] > div {
    background-image: url(../fonts/google/thumbs/fonts02.jpeg);
}
.g-font-item[data-page="2"] > div {
    background-image: url(../fonts/google/thumbs/fonts03.jpeg);
}
.g-font-item[data-page="3"] > div {
    background-image: url(../fonts/google/thumbs/fonts04.jpeg);
}
.g-font-item[data-page="4"] > div {
    background-image: url(../fonts/google/thumbs/fonts05.jpeg);
}
.g-font-item[data-page="5"] > div {
    background-image: url(../fonts/google/thumbs/fonts06.jpeg);
}
.g-font-item[data-page="6"] > div {
    background-image: url(../fonts/google/thumbs/fonts07.jpeg);
}
.g-font-item[data-page="7"] > div {
    background-image: url(../fonts/google/thumbs/fonts08.jpeg);
}
.g-font-item[data-page="8"] > div {
    background-image: url(../fonts/google/thumbs/fonts09.jpeg);
}
.g-font-item[data-page="9"] > div {
    background-image: url(../fonts/google/thumbs/fonts10.jpeg);
}
.g-font-item[data-page="10"] > div {
    background-image: url(../fonts/google/thumbs/fonts11.jpeg);
}

.font-container span.font-styles {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #999;
    display: inline-block;
    font-size: 11px;
    padding: 3px 4px;
    position: absolute;
    left: auto;
    right: 16px;
    opacity: 0;
    text-align: center;
    top: 12px;
    width: 60px;
    vertical-align: middle;
}
.g-fonts li:hover span.font-styles,
.font-active span.font-styles {
    border-radius: 3px 3px 0 0;
    border: 1px solid #ccc;
    z-index: 2001;
    opacity: 1;
}
.g-fonts li:hover span,
.font-active span {
    color: blue!important;
}
.font-weight-popup {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 2px 2px 0 rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 2px 2px 0 rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
    font-family: Roboto, Helvetica, sans-serif;
    padding: 8px;
    position: absolute;
    right: 16px;
    top: 30px;
    width: 200px;
    z-index: 2000;
}
ul.jub-fonts li:nth-child(3n+1) .font-weight-popup {
    right: auto;
    left: 112px;
}
ul.jub-fonts li:nth-child(3n+2) .font-weight-popup {
    right: auto;
    left: 112px;
}
.font-weight-popup ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.font-weight-popup ul li {
    padding: 2px 0;
    float: none;
    width: 100%;
    text-transform: capitalize;
}
.font-weight-popup ul li label {
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    padding: 5px 10px;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.font-weight-popup ul li input {
    border: 1px solid #ddd;
    margin: 0 6px 0 0!important;
    vertical-align: middle;
}
.font-weight-popup .btn-actions {
    padding-top: 8px;
    text-align: right;
}
.font-weight-popup .btn-actions .btn-action {
    background-color: #f0f0f0;
    border: 0;
    border-radius: 25px;
    color: #666;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 13px;
    margin-left: 8px;
    padding: 6px 12px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.25s;
}
.selected-wrap {
    margin-bottom: 20px;
}
.selected-wrap > div {
    background-color: #F1F3F4;
    border-radius: 5px;
    min-height: 56px;
    padding: 16px 16px 16px;
    position: relative;
}
.selected-wrap ul {
    margin: 0 -5px;
    padding: 0;
    list-style: none;
    height: 114px;
    max-height: 114px;
    overflow-y: auto;
}
.selected-wrap ul li {
    background-color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 3px;
    display: inline-block;
    float: left;
    min-height: 37px;
    margin: 5px;
    padding: 4px 20px 4px 8px;
    position: relative;
    width: 23%;
}
.custom-css-selected ul li {
    width:auto!important;
}
.selected-wrap ul li .selected-name {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}
.g-fonts-selected ul li .font-styles {
    color: #999;
    font-size: 11px;
    line-height: 1;
    display: block;
}
.selected-wrap li .icon-close {
    background-color: #E0463C;
    color: #fff;
    border-radius: 50%;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    opacity: 0;
    position: absolute;
    right: -4px;
    top: -4px;
    text-align: center;
    transition: all 0.25s ease-in;
    width: 16px;
    cursor: pointer;
}
.selected-wrap li:hover .icon-close {
    opacity: 1;
}
.font-input {
    height: 80px!important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fonts-actions .btn-action {
    padding: 5px 20px;
    border-radius: 3px;
    color: #fff!important;
}
