$active: #70C03E;

/* Spacing */
@for $i from 0 through 15 {
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }

    .pt-#{$i} {
        padding-top: #{$i}px !important;
    }

    .pb-#{$i} {
        padding-bottom: #{$i}px !important;
    }
}