$active: #70C03E;

/* Spacing */
@for $i from 0 through 100 {
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }

    .pt-#{$i} {
        padding-top: #{$i}px !important;
    }

    .pb-#{$i} {
        padding-bottom: #{$i}px !important;
    }
}

@for $i from 1 through 9 {
    .font-weight-#{$i} {
        font-weight: #{$i}00;
    }
}