$active: #70C03E;

@import './skins.scss';


.page-index #header{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
.fs-pager-wrapper{
    left: 50%;
    transform: translateX(-50%);
}
.organic-banner{
    .pb-banner-title{
        span span{
            font-size: 50px;
            font-family: "Alako-Bold";
        }
    }
}