$active: #70C03E;

@import './skins.scss';


.page-index #header{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
#header-top{
    .header-right{
        top: 3px;
    }
    .logo{
        position: relative;
        bottom: 3px;
    }
}
.fs-pager-wrapper{
    left: 50%;
    transform: translateX(-50%);
}
.organic-banner{
    .pb-banner-title{
        span span{
            font-size: 50px;
            font-family: "Alako-Bold";
        }
    }
}

.banner-fullwidth{
    position: relative;
    z-index: 1;
    .btn-xl{
        text-transform: initial;
        height: 54px;
        line-height: 54px;
        padding: 0 30px;
        font-weight: 600;
        border-color: #fff;
    }
    .column{
        max-width: 270px;
        margin-right: 30px;
        img{
            margin-bottom: 21px;
        }
        h3{
            color: #fff;
            font-size: 27px;
            font-weight: 700;
            margin-bottom: 5px;
        }
    }
}

.testimonial{
    position: relative;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    .layout-column{
        position: static;
    }
    .leaf{
        width: auto;
        display: inline-block;
        position: absolute;
        z-index: 10;
    }
    .leaf-1{
        top: -95px;
        left: 23px;
    }
    .leaf-2{
        bottom: -130px;
        left: 310px;
    }
    .leaf-3{
        top: 46px;
        right: 63px;
    }
}
.newsletter{
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    .container{
        padding: 0 75px;
    }
    .col-lg-5{
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-lg-7{
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .pb-heading{
        font-weight: 600;
        padding-top: 9px;
    }
    .block_newsletter{
        .content{
            display: flex;
		    justify-content: flex-end;
            input{
                width: 495px;
                background-color: transparent;
                border: 2px solid #fff;
                color: #fff;
                &::placeholder{
                    color: #fff;
                }
            }
            button{
                border-color: #fff;
                margin-left: 25px;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}