h1, h2, h3, h4, h5, h6{
    color: $active;
}
a {
	&:hover {
		color: $active;
	}
}
.btn{
    &.btn-active{
        border-color: $active;
        background-color: $active;
    }
}


.fs-pager-wrapper a {
    border-color: $active;
  }
.fs-pager-wrapper a.active::before {
    background-color: $active;
}


#hor-menu .nav > li > a span{
    &::after{
        background-color: $active;
    }
}
.gdz-megamenu .nav > .menu-item .mega-nav li.group > a{
    color: $active;
}

.price.new{
    color: $active;
}
.cart-prices-line .value{
    color: $active;
}
#cart_block .remove-from-cart:hover path{
    fill: $active;
}